*{
 box-sizing:border-box;
 margin:0;
 padding:0;
 font-family: 'Jura','Roboto', sans-serif;
}
body{
 background:#0A4981;
}
.box{
 display:flex;
 flex-direction:row;
 justify-content: center;
 flex-wrap: wrap;

}
h1{
 text-align:center;
 margin:30px 0;
 color:white;
 font-size:50px;
  }
h2{
 text-align:center;
 margin-top:40px;
 color:white;
 font-size:30px;
  
 }

.divone,.divtwo{
  height:550px;
  flex-basis: 350px;
  background-image:url(images/banner1.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  margin:1%;
}
.divone form,.divtwo form{
 margin-top:40px;
 display: flex;
 flex-direction: column;
 align-items: center;
 font-size: 1rem;
}


.divtwo form input,.divone form input{
  width:75%;
  text-align:center;
  border:none;
  border-bottom:2px solid white;
  padding:20px;
  background:transparent;
  color:white;
}

.divone form input[type=submit],.divtwo form input[type=submit]{
 border-radius:30px;
 background:#04365C;
 border:none;
 font-size:15px;
 transition:.5s;
 margin-top:30px;
} 
.divone form input[type=submit]:hover{
 background:#002242;
}

.divtwo form input[type=submit]:hover{
 background:#002242;
}
p a{
 font-size:15px;
 color:white;
 text-decoration:none;
 letter-spacing:1px;
}
.clear{
 clear:both; 
}
.footer{
 text-align:center;
 color:white;
 margin:2em;
}
.link{
  /* margin:40px 0 0 20px; */
  display: flex;
  justify-content: center;
  height: 80px;
  align-items: center;
 }
.link a{
 text-decoration:none;
 color:white;
 padding:6px 0 6px 50px;
 flex-basis:150px; 
}
.link .Facebook{
 background:#3C79B7;
}
.link .Google{
 background:#F62B2B;
}
.link a.Facebook{
 background-image:url(images/fac.png);
 border-radius:15px 0 0 15px;
}
.link a.Google{
 background-image:url(images/google.png);
 border-radius:0 15px 15px 0;
}
.link a.Facebook,.link a.Google{
  background-repeat:no-repeat;
  background-position: 18px center;
}
.link a::before {
  content: "";
  border-left: 2px dotted #7467b9;
  position: relative;
  left: -7px;
}
.divone p,.divtwo p{
 text-align:center;
 margin-top:30px;
}

.link .Facebook:hover{
 background-color:#0E387C;
}
.link .Google:hover{
 background-color:#FF4B3B;	
}
.divone input:focus,.divtwo input:focus{
 outline:none;
}
::placeholder{
  color:#fff;
}
::-webkit-input-placeholder{
	color:#fff !important;
}
::-moz-input-placeholder{
  color: #fff;
}
